{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <div class="nav-wrapper background">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="nav_custom" href="{{ path('meal_index') }}">PAGE ADMIN</a></li>
            </ul>
        </div>
    </nav>
    <h1>Liste des plats</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td><a href="{{ path('meal_show', { 'id': meal.id }) }}">{{ meal.id }}</a></td>
                <td>{{ meal.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('meal_show', { 'id': meal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('meal_edit', { 'id': meal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('meal_new') }}">Create a new meal</a>
        </li>
    </ul>
{% endblock %}
