<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        h1{
            background-color: rgb(175, 97, 20);
            text-align: center;
            padding: 15px;
            color: white;
        }

        .test{
            text-align: center;
        }

        .dayli, dayli1{
            list-style: none;
            text-align: center;
            margin: 0;
            margin-top: 20px;
            padding: 0;
            border-bottom: 1px solid rgb(175, 97, 20);
        }

        .dayli1 {
            border-top: 1px solid rgb(175, 97, 20);
        }
            .dayli li {
                font-size: 1.2em;
                margin:0;
                padding:5px 0;
            }

        .days {
            margin-top: 15px;
            font-weight: bold;
            text-decoration: underline;
        }

    </style>
</head>
<body>
    <h1>APP RESTO</h1>
    <div class="test">
        <img class="newrest" src="http://img4.hostingpics.net/thumbs/mini_948630logonewrest.png" alt="NewRest" />
    </div>

            {% for key, day in days %}
                    <ul class="dayli {% if key == 0 %} dayli1 {% endif %}">
                        <li class="days">{{ daysWeeks[key] }}</li>
                        <li>
                            Entrées
                        </li>
                        <li>
                            {% for plat in day.plats %}
                                {{ plat }}<br>
                            {% endfor %}
                        </li>
                        <li>
                            Desserts
                        </li>
                    </ul>
            {% endfor %}

    <h1>New's Letter</h1><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda at dolor eius eveniet explicabo hic magnam perspiciatis quibusdam suscipit.<br>
    Animi debitis dicta, exercitationem magnam molestias necessitatibus nihil officia quaerat?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum ducimus facilis hic nam nisi nobis numquam sunt suscipit voluptatibus?<br>
    Cupiditate dicta dolorem expedita illo inventore maxime quaerat similique! Voluptas.</p>

        <h3> {{ week.title }} </h3>
        <p> {{ week.message }} </p>

    <a href="{{ url_unscribe }}">Se desinscrire</a>

</body>
</html>