<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}APP RESTO{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('bundles/appresto/css/materialize.min.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Overlock+SC" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/appresto/css/style.css') }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('http://www.newrest.eu/wp-content/themes/wpnewrest/images/favicon/favicon-32x32.png') }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
        <div class="row head valign-wrapper" id="header">
            <div class="col s4 valign logo">
                <img src="{{ asset('bundles/appresto/img/logo_newrest.png') }}">
            </div>

            <h1 class="col s4 center-align valign">APP RESTO</h1>

            <div class="col s4 right-align valign btn_header">
                {% block header_btn %}{% endblock %}
            </div>
        </div>
    </header>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/appresto/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/appresto/js/materialize.min.js') }}"></script>
            <script src="{{ asset('bundles/appresto/js/appResto.js') }}"></script>
        {% endblock %}
    </body>
</html>
