{% extends 'base.html.twig' %}

{% block header_btn %}

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn btn_custom" href="#modal1">News - letter</a>



  <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Soumettre">
                        {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}
    <div class="container container_custom client">

        <div class="parallax-container parallax-main">
            <div class="parallax"><img src="http://www.newrest.eu/wp-content/uploads/2015/11/Newrest-Catering-Chef.jpg"></div>
        </div>

            <div class="row row_custom menu_semaine">
                <div class="col s12">
                    <h2>Semaine du {{ week.startWeek|date('d/m/Y') }} au  {{ week.endWeek|date('d/m/Y') }}</h2>
                </div>
            </div>

            <div class="row row_custom">

                <div class="col s10 offset-s1">
                    <form action="{{ path('app_resto_add_resa') }}" method="POST">
                        <div class="row row_custom" id="menu">
                            {% for key, day in days %}
                            <div class="col m2 s12 {% if key == 0 %}offset-m1{% endif %} col_custom dayli">
                                <div class="row row_custom">
                                    <div class="col s12 dayli_col">
                                        <a href="#{{ key }}">
                                            <h3>{{ daysWeeks[key] }}</h3>
                                            <ul>
                                                <li>Entrées</li>
                                                <li class="plat">
                                                {% for plat in day.plats %}
                                                    {{ plat }}<br>
                                                {% endfor %}
                                                </li>
                                                <li>Desserts</li>

                                            </ul>
                                        </a>
                                    </div>
                                </div>
                                <div class="row row_custom">

                                    <div class="col s6 col_custom radio_custom">
                                        <input name="{{ daysWeeks[key] }}" type="radio" id="snack{{ key }}" value="{{ constant('AppRestoBundle\\Entity\\Resa::SNACK') }}" />
                                        <label for="snack{{ key }}">Snack</label>
                                    </div>

                                    <div class="col s6 col_custom radio_custom">
                                        <input name="{{ daysWeeks[key] }}" type="radio" id="menu{{ key }}" value="{{ constant('AppRestoBundle\\Entity\\Resa::NORMAL') }}" />
                                        <label for="menu{{ key }}">Menu</label>
                                    </div>
                                </div>



                            </div>
                            {% endfor %}
                        </div>
                        <div class="row row_custom center">
                            <button class="waves-effect waves-light btn btn_custom" type="submit">Reserver</button>
                        </div>
                    </form>
                </div>

                {% for key, day in days %}
                <div id="{{ key }}" class="modal">
                    <div class="modal-content menu_modal dayli">
                        <h4>Au menu le {{ daysWeeks[key] }}</h4>
                        <ul>
                            <li class="type_meal_modal">Entrées</li>
                            <li>
                                {% for k, entree in day.entrees %}
                                    {% if k == 0 %}
                                        {{ entree }}
                                    {% else %}
                                        {{ ', ' ~ entree }}
                                    {% endif %}
                                {% endfor %}
                            </li>
                            <li class="type_meal_modal">Plats</li>
                            <li>
                                {% for plat in day.plats %}
                                    {{ plat }}<br>
                                {% endfor %}
                            </li>

                            <li class="type_meal_modal">Desserts</li>
                            <li>
                                {% for k, dessert in day.desserts %}
                                    {% if k == 0 %}
                                    {{ dessert }}
                                    {% else %}
                                    {{ ', ' ~ dessert }}
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        <div class="row row_custom">
            <div class="col s8 offset-s2 snack">
                <h2>Menu snack</h2>
                <p>Tout les jours le chef mets à la disposition des plus pressés un menu de restauration rapide au prix de 5.50e.<br>Cette nouvelle formule comprends :</p>
                <ul>
                    <li>pizza, croque-monsieur, quiche, hot-dog, croissant au jambon(au choix)</li>
                    <li>des frites</li>
                    <li>une boisson</li>
                </ul>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img src="http://www.newrest.eu/wp-content/uploads/2015/12/Newrest-Catering-BI.jpg" alt="photo des élèves de l'école des mines atablés">
            </div>
        </div>

        <div class="row row_custom">
                <div class="col m4 s6 offset-m4 offset-s3 show-form_com1 center-align btn waves-effect waves-orange btn_custom">
                    <a>Donnez-nous votre avis!</a>
                </div>

            <div class="col m6 s10 offset-m3 offset-s1 form_com1">
                {% block addCom %}
                    {{ form_start(formCom) }}
                    {{ form_widget(formCom) }}
                <div class="col m4 s8 offset-m4 offset-s2 align-center">
                    <button class="btn waves-effect waves-orange btn_custom " type="submit">ENVOYER
                    </button>
                </div>
                    {{ form_end(formCom) }}
                {% endblock %}
            </div>
        </div>

        <div class="row row_custom">
            <div class="col m8 s12 offset-m2 coms">
                <div class="row">
                    {% block coms %}
                        {{ render( controller("AppRestoBundle:Comment:indexClient")) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer" id="footer_custom">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>Footer Content</h5>
                    <p class="text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5>Contacts</h5>
                    <ul>
                        <li><a class="text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="text-lighten-3" href="#!">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright ">
            <div class="container">
                © 2017 Copyright Text
                <a class="text-lighten-4 right" href="#!">Contactez-nous</a>
            </div>
        </div>
    </footer>
{% endblock %}