{% extends 'base.html.twig' %}

{% block body %}
    <h1>Week</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ week.id }}</td>
            </tr>
            <tr>
                <th>Start_week</th>
                <td>{% if week.startweek %}{{ week.startweek|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End_week</th>
                <td>{% if week.endweek %}{{ week.endweek|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ week.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('week_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('week_edit', { 'id': week.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
