{% extends 'base.html.twig' %}

{% block body %}
    <h1>Week</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ week.id }}</td>
            </tr>
            <tr>
                <th>Nbweek</th>
                <td>{{ week.nbWeek }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ week.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('week_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('week_edit', { 'id': week.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
