{% extends 'base.html.twig'%}

{% block header_btn %}
    <a class="btn tooltipped boutton btn_custom" data-position="bottom" data-delay="50" data-tooltip="Aller vers la page cantine">Page cantine</a>
{% endblock %}

    {% block body %}
        <div class="container container_custom admin">
            <div class="row row_custom menu_admin_title">
                <h1 class="col s12 center-align">Menu de la semaine</h1>
            </div>
            <div class="row row_custom">
                <div class="input-field col s4 offset-s4 ">
                    <select>
                        <option class="menu_choix_semaine" value="1" selected>Semaine du **/** au **/**</option>
                        <option class="menu_choix_semaine" value="2">Semaine du **/** au **/**</option>
                        <option class="menu_choix_semaine" value="3">Semaine du **/** au **/**</option>
                        <option class="menu_choix_semaine" value="4">Semaine du **/** au **/**</option>
                    </select>
                </div>
            </div>
            <div class="row row_custom">
                <div class="col s12 menu_admin">
                    <div class="row row_custom days">
                        <div class="col s2 offset-s1 center-align">Lundi</div>
                        <div class="col s2 center-align">Mardi</div>
                        <div class="col s2 center-align">Mercredi</div>
                        <div class="col s2 center-align">Jeudi</div>
                        <div class="col s2 center-align">Vendredi</div>

                    </div>
                    <div class="row row_custom">
                        <div class="col s1"></div>
                        {{ form_start(form) }}
                        {% for day in form.days %}
                            <div class="col s2 col_menu_admin">
                                <ul>
                                    <li>{{ form_row(day.entrees) }}</li>
                                    <li>{{ form_row(day.plats) }}</li>
                                    <li>{{ form_row(day.desserts) }}</li>
                                    <li>{{ form_row(day.garnitures) }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row row_custom center-align">
                        <input class="btn waves-effect waves-orange btn_custom " type="submit" value="Create" />
                    </div>
                    <div class="row row_custom">
                        <div class="col s10 offset-s1">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}

