{% extends 'base.html.twig'%}



    {% block body %}
        <div class="container container_custom admin">
            <nav>
                <div class="nav-wrapper background">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="btn tooltipped boutton btn_custom" data-position="bottom" data-delay="50" data-tooltip="Gérer vos plats" href="{{ path('app_resto_meal') }}">Gérer vos plats</a></li>
                        <li><a class="btn tooltipped boutton btn_custom" data-position="bottom" data-delay="50" data-tooltip="Aller vers la page cantine" href="{{ path('app_resto_admin_counter') }}">Page cantine</a></li>
                    </ul>
                </div>
            </nav>

            <div class="row row_custom menu_admin_title">
                <h1 class="col s12 center-align">Menu de la semaine</h1>
            </div>

            <div class="row row_custom">
                <div class="input-field col s4 offset-s4 ">
                    <select id="choiceWeek">
                        {% for week in weeks %}
                            {% if loop.first %}
                                <option class="menu_choix_semaine" value="{{ week.startWeek|date('Y/m/d') }}" selected>Semaine du {{ week.startWeek|date('d/m/Y') }} au {{ week.endWeek|date('d/m/Y') }}</option>
                            {% else %}
                                <option class="menu_choix_semaine" value="{{ week.startWeek|date('Y/m/d') }}">Semaine du {{ week.startWeek|date('d/m/Y') }} au {{ week.endWeek|date('d/m/Y') }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            {# Formulaire d'ajout entrée, plat, garniture, dessert#}
            <div class="row row_custom">
                <div class="col s3">
                    {{ form_start(formEntree, {'attr': {'id': 'formEntree'}}) }}
                    <div class="input-field col s12">
                        {{ form_row(formEntree.name) }}
                    </div>
                    <div class="row row_custom center-align">
                        <div>
                            <button class="btn waves-effect waves-orange btn_custom" type="submit">AJOUTER</button>
                        </div>
                    </div>
                    {{ form_end(formEntree) }}
                </div>
                <div class="col s3">
                    {{ form_start(formPlat, {'attr': {'id': 'formPlat'}}) }}
                    <div class="input-field col s12">
                        {{ form_row(formPlat.name) }}
                    </div>
                    <div class="row row_custom center-align">
                        <div>
                            <button class="btn waves-effect waves-orange btn_custom" type="submit">AJOUTER</button>
                        </div>
                    </div>
                    {{ form_end(formPlat) }}
                </div>
                <div class="col s3">
                    {{ form_start(formGarniture, {'attr': {'id': 'formGarniture'}}) }}
                    <div class="input-field col s12">
                        {{ form_row(formGarniture.name) }}
                    </div>
                    <div class="row row_custom center-align">
                        <div>
                            <button class="btn waves-effect waves-orange btn_custom" type="submit">AJOUTER</button>
                        </div>
                    </div>
                    {{ form_end(formGarniture) }}
                </div>
                <div class="col s3">
                    {{ form_start(formDessert, {'attr': {'id': 'formDessert'}}) }}
                    <div class="input-field col s12">
                        {{ form_row(formDessert.name) }}
                    </div>
                    <div class="row row_custom center-align">
                        <div>
                            <button class="btn waves-effect waves-orange btn_custom" type="submit">AJOUTER</button>
                        </div>
                    </div>
                    {{ form_end(formDessert) }}
                </div>

            </div>
            {#//////////#}

            <div id="result" class="row row_custom">

            </div>

        </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        function getWeek(){
            var selectedWeek = $("select#choiceWeek option:selected").val();
            $.ajax({
                type: "POST",
                data : { selectedWeek: selectedWeek },
                dataType: 'json',
                url: '{{ path('app_resto_load_week_ajax') }}',
                success: function(data)
                {
                    $("#result").html(data.form);

                    $("form[id='weekMenu']").submit(function (e) {
                        e.preventDefault();
                        submitAjax($(this)[0], '{{ path('app_resto_load_week_ajax') }}', null);
                    });

                }
            });
        }

        function submitAjax(form, url, reset){
            var idForm = $(form).attr('id');
            $.ajax({
                url: url,
                type: 'post',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success:
                    function (response) {
                        if (reset == true){
                            $("." + idForm + " ul").append('<li class=""><span><input type="checkbox"><label></label>' + response.name + '</span></li>');
                            $("." + idForm + " select").append('<option value=' + response.id + '>' + response.name + '</option>');
                            $('select').material_select();
                            $("form[id=" + idForm + "]").trigger('reset');
                        }
                        alert(response.msg);
                    },
                    //traitement en cas d'erreur (on peut aussi traiter le cas erreur 500...)
                 error:
                     function (response) {
                        alert(response.msg);
                    }
            });
        }

        $(document).ready(function(){
            getWeek();

            $("#choiceWeek").change(function() {
                getWeek();
            });

            $("#formEntree").on("submit", function (event) {
                event.preventDefault();
                submitAjax($(this)[0], '{{ path('app_resto_entree_ajax') }}', true);
            });
            $("#formPlat").on("submit", function (event) {
                event.preventDefault();
                submitAjax($(this)[0], '{{ path('app_resto_plat_ajax') }}', true);
            });
            $("#formGarniture").on("submit", function (event) {
                event.preventDefault();
                submitAjax($(this)[0], '{{ path('app_resto_garniture_ajax') }}', true);
            });
            $("#formDessert").on("submit", function (event) {
                event.preventDefault();
                submitAjax($(this)[0], '{{ path('app_resto_dessert_ajax') }}', true);
            });

        });





    </script>

{% endblock %}