{% extends 'base.html.twig'%}

{% block header_btn %}
    <a class="btn tooltipped boutton btn_custom" data-position="bottom" data-delay="50" data-tooltip="Aller vers la page cantine">Page cantine</a>
{% endblock %}

    {% block body %}
        <div class="container container_custom admin">
            <nav>
                <div class="nav-wrapper background">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="nav_custom" href="{{ path('app_resto_send') }}">ENVOYER LA NEW'S LETTER</a></li>
                    </ul>
                </div>
            </nav>
            <div class="row row_custom menu_admin_title">
                <h1 class="col s12 center-align">Menu de la semaine</h1>
            </div>
            <div class="row row_custom">
                <div class="input-field col s4 offset-s4 ">
                    <select id="choiceWeek">
                        {% for week in weeks %}
                            {% if loop.first %}
                                <option class="menu_choix_semaine" value="{{ week.startWeek|date('Y/m/d') }}" selected>Semaine du {{ week.startWeek|date('d/m/Y') }} au {{ week.endWeek|date('d/m/Y') }}</option>
                            {% else %}
                                <option class="menu_choix_semaine" value="{{ week.startWeek|date('Y/m/d') }}">Semaine du {{ week.startWeek|date('d/m/Y') }} au {{ week.endWeek|date('d/m/Y') }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="result" class="row row_custom">
                {% include('@AppResto/Admin/week_menu.html.twig') %}
            </div>
        </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $("#choiceWeek").change(function() {
            var selectedWeek = $("select#choiceWeek option:selected").val();
            console.log(selectedWeek);
            $.ajax({
                type: "POST",
                data : { selectedWeek: selectedWeek },
                dataType: 'json',
                url: '{{ path('app_resto_load_week_ajax') }}',
                success: function(data)
                {
                    $("#result").html(data);
                }
            });
        });

    </script>

{% endblock %}