{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block header_btn %}
    <a class="btn tooltipped boutton btn_custom" data-position="bottom" data-delay="50" data-tooltip="Aller vers la page Admin" href="{{ path('app_resto_load_week_ajax') }}">Page Admin</a>
{% endblock %}

{% block body %}
    <!-- Add filter to manage opacity of background's image -->
    <div class="filter">
        <div class="container container_custom">
            <!-- Container of counter's reservation by day -->
            <div class="row row_custom">
                <div class="counter_box">
                    <!-- block of title's counter -->
                    <div class="counter_title">
                        <h2 class="h2">Compteur de menus</h2>
                    </div>
                    <!-- Container of counter's reservation by day without title -->
                    <div class="container_meal_snack col l12">
                        <!-- container of number's meal this day -->
                        <div class="meal_box col l5 offset-l1 m11 offset-m1  s12">
                            <div class="meal_word">
                                <h3 class="h3"><b>REPAS</b></h3>
                            </div>
                            <div class="container_number_meal">
                                <p class="number_meal z-depth-3">{{ resaToday.normal }}</p>
                            </div>
                        </div>

                        <div class="snack_box col l5 m11 offset-m1 s12">
                            <!-- container of number's snack this day -->
                            <div class="snack_word">
                                <h3 class="h3"><b>SNACK</b></h3>
                            </div>
                            <div class="container_number_snack">
                                <p class="number_snack z-depth-3">{{ resaToday.snack }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row_custom">
                <div class="col s12">
                    <div class="week_reservation"><h3 class="h3">Réservations de la semaine</h3></div>
                    <!-- Table of week's reservation (snack and meal) bye day of week -->
                    <table class="striped centered table_food flow-text col offset-l1 l10 col s12">
                        <thead>
                        <tr>
                            <th>Jour</th>
                            <th>Repas</th>
                            <th>Snack</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% block resa_week %}
                            {% for key in days %}
                        <tr>
                            <td>Lundi</td>
                            <td>{{ resas[0].normal }}</td>
                            <td>{{ resas[0].snack }}</td>
                        </tr>
                        <tr>
                            <td>Mardi</td>
                            <td>{{ resas[1].normal }}</td>
                            <td>{{ resas[1].snack }}</td>
                        </tr>
                        <tr>
                            <td>Mercredi</td>
                            <td>{{ resas[2].normal }}</td>
                            <td>{{ resas[2].snack }}</td>
                        </tr>
                        <tr>
                            <td>Jeudi</td>
                            <td>{{ resas[3].normal }}</td>
                            <td>{{ resas[3].snack }}</td>
                        </tr>
                        <tr>
                            <td>Vendredi</td>
                            <td>{{ resas[4].normal }}</td>
                            <td>{{ resas[4].snack }}</td>
                        </tr>
                                {% endfor %}
                            {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row row_custom">
                <div class="container_commentary col s12">
                    <div class="commentary_title">
                        <h3 class="h3">Commentaires des utilisateurs</h3>
                    </div>
                    <!-- Container which contain all of commentaries than the cooker have to validate (to be visible par the user on user page) or delete -->
                    <div class="commentary_box col s12">
                        {% block com %}
                            {% for comment in comments %}
                                <div class="col m8 s12 offset-m2 col-custom-comment">
                                    <span class="pseudo">{{ comment.author }}</span>
                                    <span class="date">{{ comment.date.date|date('d/m/Y') }}</span><br>
                                    <span class="content">{{ comment.content }}</span><br>
                                    <div class="btn waves-effect waves-orange btn_custom">
                                        <a href="{{ path('app_resto_com_valid', { 'id': comment.id }) }}">Valider</a>
                                    </div>
                                    <div class="btn waves-effect waves-orange btn_custom">
                                        <a href="{{ path('app_resto_com_archiv', { 'id': comment.id }) }}">Archiver</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- fermeture du container -->
{% endblock %}