<div class="col s12 menu_admin">
    <div class="row row_custom days">
        <div class="col s2 offset-s1 center-align">Lundi</div>
        <div class="col s2 center-align">Mardi</div>
        <div class="col s2 center-align">Mercredi</div>
        <div class="col s2 center-align">Jeudi</div>
        <div class="col s2 center-align">Vendredi</div>
    </div>

    <div class="row row_custom">
        {{ form_start(form, {'attr': {'id': 'weekMenu'}}) }}
        {% for day in form.days %}
            <div class="col s2 {% if loop.first %}col offset-s1{% endif %} col_menu_admin">
                <ul>
                    <li>{{ form_row(day.entrees) }}</li>
                    <li>{{ form_row(day.plats) }}</li>
                    <li>{{ form_row(day.desserts) }}</li>
                    <li>{{ form_row(day.garnitures) }}</li>
                </ul>
            </div>
        {% endfor %}
        <div class="row row_custom">
            <div class="col s10 offset-s1">
                {{ form_row(form.title) }}
                {{ form_row(form.message) }}
            </div>
        </div>
        <div class="row row_custom center-align">
            <div>
                <input type="hidden" name="selectedWeek" value="{{ week.startWeek|date('Y/m/d') }}">
                <button class="btn waves-effect waves-orange btn_custom" type="submit">ENVOYER</button>
            </div>

        </div>
        {{ form_end(form) }}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
